@import '~@angular/material/theming';

@mixin theme($theme, $typography) {
  @if map-has-key($typography, mobile) {
    @include mat-core(map-get($typography, mobile));
  } @else {
    @include mat-core();
  }

  @include angular-material-theme($theme);

  @if map-has-key($typography, mobile) {
    @include typography-rules(map-get($typography, mobile));
    .mat-list .mat-list-item .mat-list-text {
      @include typography-rules(map-get($typography, mobile));
    }
    .mat-dialog-title,
    .mat-dialog-content {
      font-weight: 400;
    }
  }

  @if map-has-key($typography, tablet) {
    @media screen and (min-width: 600px) and (max-width: 959px) {
      @include typography-rules(map-get($typography, tablet));
      .mat-list .mat-list-item .mat-list-text {
        @include typography-rules(map-get($typography, tablet));
      }
      .mat-dialog-title,
      .mat-dialog-content {
        font-weight: 400;
      }
    }
  }

  @if map-has-key($typography, laptop) {
    @media screen and (min-width: 960px) and (max-width: 1279px) {
      @include typography-rules(map-get($typography, laptop));
      .mat-list .mat-list-item .mat-list-text {
        @include typography-rules(map-get($typography, laptop));
      }
      .mat-dialog-title,
      .mat-dialog-content {
        font-weight: 400;
      }
    }
  }

  @if map-has-key($typography, desktop) {
    @media screen and (min-width: 1280px) and (max-width: 1919px) {
      @include typography-rules(map-get($typography, desktop));
      .mat-list .mat-list-item .mat-list-text {
        @include typography-rules(map-get($typography, desktop));
      }
      .mat-dialog-title,
      .mat-dialog-content {
        font-weight: 400;
      }
    }
  }

  @if map-has-key($typography, wide-screen) {
    @media screen and (min-width: 1920px) {
      @include typography-rules(map-get($typography, wide-screen));
      .mat-list .mat-list-item .mat-list-text {
        @include typography-rules(map-get($typography, wide-screen));
      }
      .mat-dialog-title,
      .mat-dialog-content {
        font-weight: 400;
      }
    }
  }
}

@mixin typography-rules($typography) {
  body {
    @include mat-typography-level-to-styles($typography, body-1);
  }

  h1 {
    @include mat-typography-level-to-styles($typography, headline);
  }

  h2 {
    @include mat-typography-level-to-styles($typography, title);
  }

  h3 {
    @include mat-typography-level-to-styles($typography, subheading-2);
  }

  h4 {
    @include mat-typography-level-to-styles($typography, subheading-1);
  }

  h5 {
    @include mat-typography-level-to-styles($typography, body-2);
  }

  h6 {
    @include mat-typography-level-to-styles($typography, caption);
  }

  a,
  p,
  .mat-tab-label,
  .mat-tab-link {
    @include mat-typography-level-to-styles($typography, body-1);
  }
  a > b,
  p > b {
    @include mat-typography-level-to-styles($typography, body-2);
  }

  small {
    @include mat-typography-level-to-styles($typography, caption);
  }

  input {
    @include mat-typography-level-to-styles($typography, input);
  }

  button {
    @include mat-typography-level-to-styles($typography, button);
    text-transform: uppercase;
  }
}
